.hr-separacion{
    width: 50%;
    background-color: rgba(#1D36BD);
}

.color-fondo-body{
    background-color: #739E85;
}
.container{
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container form{
    width: 600px;
    padding: 20px;
    margin: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.imagePreview{
    color: red;
    font-style: italic;
}